html{
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'IBM Plex sans', sans-serif;
  scroll-behavior: smooth;
}
body{
  margin: 0;

  background: #FFFFFF;
  background-image: linear-gradient(rgba(215, 215, 215, 0.4) .1em, transparent .1em), linear-gradient(90deg, rgba(215, 215, 215, 0.4) .1em, transparent .1em);
  background-size: 2.5em 2.5em;
}
hr{
  border-style: solid;
  margin-top: 5px;
}
header{
  font-weight: 600;
  font-size: 2rem;
}
pre{
  font-family: inherit;
}
article>i{
  color: green
}
article>b{
  font-size: 1.1rem;
}
#main-doc{
  display: flex;
  flex-direction: column;
  gap: 0.1rem;

  margin-left: 320px;
}
.main-section{
  background-color: rgb(239, 239, 239);
  padding: 30px;
  margin: 10px;
  border-radius: 15px;
  width: 70%;
  min-width: 350px;
}
.code{
  background-color: rgb(33, 33, 33);
  color: rgb(208, 207, 207);
  font-family: 'IBM PLex Mono', monospace;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  overflow: auto;
  line-height: 1.5;
  box-shadow: 5px 5px 30px rgba(128, 128, 128, 0.996);
}

/*Tables*/
table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
table{
  width: 80%;
  max-width: 600px;
}
.greenfont{
  color: green;
}
th{
  background-color: rgb(193, 193, 193);
}
td{
  background-color: white;
}

/*NAVBAR*/
nav>header{
  letter-spacing: -0.12rem;
  line-height: 0.9;
  padding: 15px;

  background: rgb(25,149,223);
background: linear-gradient(90deg, rgba(25,149,223,1) 14%, rgba(55,106,221,1) 86%);
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#navbar{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  /*background-color: rgba(255, 0, 0, 0.544);*/
  position: fixed;
  width: 290px;
  height: 100%;
}
.nav-link{
  text-decoration: none;
  color: black;

  background-color: rgb(239, 239, 239);
  padding: 20px;
  border-radius: 25px;

  transition: all 0.2s ease;
}
.nav-link:hover{
  color: white;
  background-color: black;
  box-shadow: 5px 5px 30px rgba(128, 128, 128, 0.996);
}

/*Miscellaneous*/
#Numbers_in_Verilog{
  margin-top: 120px;
}
#Functions_and_Tasks table{
  width: 100%;
}

.hidden{
  display: none;
}


/*media query*/
@media only screen and (max-width: 480px) and (min-width: 320px){
  #navbar{
    position: relative;
    height: fit-content;
    width: inherit;
    background-color: red;
  }
  #main-doc{
    margin-left: 0px;
    align-items: center;
  }
   #Numbers_in_Verilog{
  margin-top: 0px;
}
}